* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2%;
    position: relative;
    box-sizing: border-box;}
    
    body{
        background-color: #1a1a1a;
    }
    header {
        background-color: #023e8a;
        border-radius: 20px;
        display: grid;
        grid-template-areas: 
        "titulo . nav"
        "titulo . .";
        grid-template-columns: 300px auto 200px;
        /* grid-template-rows: 150px auto 200; */
        
        
    }
    .titulo { 
        
        grid-area: titulo;
        justify-self: center;
        align-self: center;
        animation-name: color;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        &:hover{
            transform: scale(2,1);
            transition: 2s;
            transform: rotate(360deg);
               }            
    }
    
        $black: #1a1a1a;
        $azul: #023e8a;
        $azulc: #0096c7;
     $coloresbackground:(
         Negro: #1a1a1a,
         contenido: #023e8a,
         subcontenido: #0096c7,
     );   
    

@each $valor, $color in $coloresbackground {
  .fondo--#{$valor } {
    background-color: $color;
    border-radius: 20px;
  }
}


    header nav ul {  
        grid-area: nav;
        display: flex;
        flex-direction: row;
        padding: 20px;
    }
    #header_responsive{
        display: none;
    }
    
    nav {
        display: flex;
        flex-direction: row;
       order: 1;
       
       
    }
    $navcolor: #bbb;
    .blockNav li{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        padding: 12px;
        &:hover{
            color: $navcolor;
            &> a{
                color: $navcolor;
            }
        }
    }
    
     .blockNav ul li i{
        box-sizing: border-box;
        text-align: right;
    }
    .contendor{
        display: grid;
        grid-template-areas: 
        "";
        // background-color: #023e8a;
        &__lq{
            // background-color: #0096c7;
            border-radius: 20px;
            padding: 10px;    
        }
    } 
        
    @media only screen and (max-width: 700px){
        header{
            display: none;
            
        }
        #header_responsive {
            display: flex;
            flex-direction: column;
        }
     
        
        
        }
    $borderR30: 30px;
    $negro: black ;

    @mixin tamanios ($ancho, $alto) {
        width: $ancho;
        height: $alto;}
        
    
    .paquetes { 
        display: flex;
        flex-direction: row;
        border-radius: $borderR30;
        border: solid 1px #34BBCF;
        margin: 50px;
        padding: 10px;
        &__img{
            border:  solid $negro 2px;
            @include tamanios(20%, 20% );
            // width: 20%;
            // height: 20%;
            border-radius: 20px;
                &--bot{ 
                    @extend .paquetes__img;
                    @include tamanios(30%,30%);
                    // width: 30%;
                    // height: 30%;
                    
                }
        }
        &__h3{ 
            font-size: 1.5em;
            text-align: center;
            &:hover{
                transform: scale(1.2,1.2);
            transition: 1s;
            }
        }      
        &__h4{ 
            text-align: center;
            align-self: center;
            justify-items: center;
        
        }
        &__p{
            align-self: center;
        }
        &__pagina_contacto{ 
            border: solid #34BBCF 2px;
            border-radius: $borderR30;
            padding: 10%;
            text-align: center;
        
        }
    }
        
        .form__input{
            color: $negro;
        }
        .Enviar{
            color: $negro;
        }
        #comentario{
            display: block;
        }
        /*Diseño pagina sobre nostotros*/
        .somos{
            margin: 35px 20px ;
        } 
        .responsiveMain{
            display: none;
        }
        @media only screen and (max-width: 1000px){
            .noresponiveMine{
                display: none;
            }
            .contenedor__lq{
                display: none;
            }
            .paquetes{display: none;
            max-width: 20%;
            max-height: 20%;
        }
        
            /* PAQUEATES RESPONSIVOS     */
            .responsiveMain{display: flex;
            flex-direction: column;}
            .contenedor__lq--responsive{
                display: flex;
                flex-direction: column;
                background-color: #0096c7;
                border-radius: 20px;
                padding: 10px;    
                }
            }
            .paquetes--responsive{
                display: flex;
                flex-direction: column;
                border-radius: 30px;
        border: solid 1px #34BBCF;
            /* }fin @media */}
            
    
        @keyframes color{
            0%{color: #F6F2D4;}
            5%{color: #95D1CC;}
            25%{color:#84DFFF;}
            50%{color: #CDF0EA;}
            75%{color: #F7DBF0 ;}
            100%{color: #BEAEE2;}}

          
          .navbar {
            background-color: #1081f3!important;
            border-radius: 25px;
            width: auto;
            padding: 0;
            
        }
        .navbar-brand{
            font-size: 40px;
            animation-name: color;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
            animation-duration: 2s;
            &:hover{
                transform: scale(2,1);
                transition: 2s;
                transform: rotate(360deg);
                 }
        }
       .nav-link{
            color: whitesmoke !important;
            font-size: 20px;
        }

        
 
  